services:
  whisper_live_api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: whisper_live_api
    command: python run_server.py --port 8000 --use_diarization -b faster_whisper
    environment:
      TZ: Europe/Minsk
    volumes:
      - hf-cache:/root/.cache/huggingface/hub
    restart: always
    ports:
      - "100.125.80.125:5555:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
