faster-whisper==1.1.0
onnxruntime>=1.14,<1.20
pyannote.audio>=3.1,<3.4
diart>=0.9

PyAudio
av
scipy
websocket-client
websockets
numba
kaldialign
soundfile
jiwer
evaluate
numpy<2
git+https://github.com/openai/whisper.git  # вместо openai-whisper==20240930
tokenizers
sentencepiece

# openvino
librosa
openvino
openvino-genai
openvino-tokenizers
optimum 
optimum-intel

fastapi
uvicorn
python-multipart

